<p id="notice"><%= notice %></p>

 <nav class="navbar navbar-inverse" id="nav">
  <div class="container-fluid">
    <div class="navbar-header">

        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", root_path, class: "navbar-brand" %></li>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete  %>
          </li> 
        </ul>        
      </div>
    </div>
  </nav>
<div class="container">
<h1>Hotspots</h1>
<div class="well">
<table class="table">
  
  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>State</th>
      <th>Address</th>
      <th>Longitude</th>
      <th>Latitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hotspots.each do |hotspot| %>
      <tr>
        <td><%= hotspot.name %></td>
        <td><%= hotspot.city %></td>
        <td><%= hotspot.state %></td>
        <td><%= hotspot.address %></td>
        <td><%= hotspot.longitude %></td>
        <td><%= hotspot.latitude %></td>
        <td><%= link_to 'Show', hotspot %></td>
        <td><%= link_to 'Edit', edit_hotspot_path(hotspot) %></td>
        <td><%= link_to 'Destroy', hotspot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Hotspot', new_hotspot_path %>
</div>