<p id="notice"><%= notice %></p>
<div class="container">


<p>
  <strong>Name:</strong>
  <%= @hotspot.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @hotspot.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @hotspot.state %>
</p>

<p>
  <strong>Address:</strong>
  <%= @hotspot.address %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @hotspot.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @hotspot.latitude %>
</p>



<%= link_to 'Edit', edit_hotspot_path(@hotspot) %> |
<%= link_to 'Back', hotspots_path %> |
<%= link_to 'Category', categories_path %>
</div>